@import "_variables";
//spin icon hack
.ion-spin-animation {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.ion-load-a.ion-spin-animation {
  -webkit-animation-timing-function: steps(8, start);
  -moz-animation-timing-function: steps(8, start);
  animation-timing-function: steps(8, start);
}
@-webkit-keyframes animation-button {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  100% {
    color: red;
  }
}
@keyframes animation-button {
  0% {
    color: #D8E9F1;
  }
  25% {
    color: #B6D7E6;
  }
  50% {
    color: #6FC0E4;
  }
  75% {
    color: #48B3E2;
  }
  100% {
    color: $blue;
  }
}
.camera-animate {
  -webkit-animation: animation-button 5s linear 0s 1 alternate ;
    -moz-animation: animation-button 5s linear 0s 1 alternate ;
    -o-animation: animation-button 5s linear 0s 1 alternate ;
    animation: animation-button 5s linear 0s 1 alternate ;
}


.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  animation-delay: 0.3s;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}

.grow {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  overflow: hidden;
  max-height: 100px;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s;
  -moz-animation: bounce 2s;
  -o-animation: bounce 2s;
  animation: bounce 2s;
  animation-iteration-count: 3;
}

/*

Expected usage:

    <span class="ellipsis_animated-inner">
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </span>

*/

@-webkit-keyframes ellipsis_animated-toggle {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes ellipsis_animated-toggle {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-ms-keyframes ellipsis_animated-toggle {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes ellipsis_animated-toggle {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes ellipsis_animated-toggle {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ellipsis_animated-inner span {
    -webkit-animation-name: ellipsis_animated-toggle;
    -moz-animation-name: ellipsis_animated-toggle;
    -ms-animation-name: ellipsis_animated-toggle;
    -o-animation-name: ellipsis_animated-toggle;
    animation-name: ellipsis_animated-toggle;

    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    -ms-animation-duration: 1000ms;
    -o-animation-duration: 1000ms;
    animation-duration: 1000ms;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-timing-function: cubic-bezier(.02,.85,.69,1);
    -moz-animation-timing-function: cubic-bezier(.02,.85,.69,1);
    -ms-animation-timing-function: cubic-bezier(.02,.85,.69,1);
    -o-animation-timing-function: cubic-bezier(.02,.85,.69,1);
    animation-timing-function: cubic-bezier(.02,.85,.69,1);
}

.ellipsis_animated-inner span:nth-child(1) {
    -webkit-animation-delay: -1000ms;
    -moz-animation-delay: -1000ms;
    -ms-animation-delay: -1000ms;
    -o-animation-delay: -1000ms;
    animation-delay: -1000ms;
}

.ellipsis_animated-inner span:nth-child(2) {
    -webkit-animation-delay: -900ms;
    -moz-animation-delay: -900ms;
    -ms-animation-delay: -900ms;
    -o-animation-delay: -900ms;
    animation-delay: -900ms;
}

.ellipsis_animated-inner span:nth-child(3) {
    -webkit-animation-delay: -800ms;
    -moz-animation-delay: -800ms;
    -ms-animation-delay: -800ms;
    -o-animation-delay: -800ms;
    animation-delay: -800ms;
}
.fadingEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: $black;
  -moz-animation: showHide 5s ease-in alternate infinite;
  /* Firefox */
  -webkit-animation: showHide 5s ease-in alternate infinite;
  /* Safari and Chrome */
  -ms-animation: showHide 5s ease-in alternate infinite;
  /* IE10 */
  -o-animation: showHide 5s ease-in alternate infinite;
  /* Opera */
  animation: showHide 5s ease-in alternate infinite;
}
@-webkit-keyframes showHide {
  /* Chrome, Safari */
  0% {
    width: 100%;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes showHide {
  /* FF */
  0% {
    width: 100%;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes showHide {
  /* IE10 */
  0% {
    width: 100%;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes showHide {
  /* Opera */
  0% {
    width: 100%;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes showHide {
  0% {
    width: 100%;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
