@import "_variables";

.save-preset-container {
  margin-top: 15vh;
  font-size: 1.2em;

  .item-input {
    border: none;

    input {
      color: #fff;
      text-align: center;
      font-size: 24px;
      border: none;
    }
  }

  .preset-error {
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 14px;
  }

  .footer-text {
    font-size: 14px;
    margin-top: 15vh;
  }

  .save-preset {
    width: 180px;
    margin-top: 20px;
  }
}
